.personalDataContainer {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
  justify-content: space-between;
}

.personalDataHeader {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.personalDataFooter {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
