.personalTagList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  max-width: 815px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
