.filters {
  display: flex;
  align-items: center;
  padding: 22px 0;
  gap: 16px;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  color: black;
}
