.EventPage {
  position: relative;

  .about__section {
    position: relative;
    min-width: 1440px;
    min-height: 576px;
    background-image: linear-gradient(
        to right,
        rgba(91, 98, 104, 0.5),
        rgba(194, 198, 199, 0.5)
      ),
      url('../../images/bg-image.svg');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 90%;

    z-index: 0;

    .about__link {
      position: absolute;
      top: 30%;
      left: 5%;
      color: rgb(255, 255, 255);
      font-family: 'YS Text', Arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: left;
      text-decoration-line: underline;
      z-index: 2;
    }

    img {
      padding-right: 5px;
    }

    .button__black1 {
      position: absolute;
      top: 45%;
      left: 5%;
      width: 229px;
      height: 36px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 7px 10px 7px 10px;
      border-radius: 100px;
      background: rgba(34, 34, 34, 0.55);
      color: rgb(255, 255, 255);
      font-family: 'YS Text', Arial, sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0%;
      text-align: left;
    }

    .button__black2 {
      position: absolute;
      top: 45%;
      left: 18%;
      width: 68px;
      height: 35px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 7px 10px 7px 10px;
      border-radius: 100px;
      background: rgba(34, 34, 34, 0.55);
      color: rgb(255, 255, 255);
      font-family: 'YS Text', Arial, sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0%;
      text-align: left;
    }

    h1 {
      position: absolute;
      top: 30%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: rgb(255, 255, 255);
      font-family: 'YS Text', Arial, sans-serif;
      font-size: 48px;
      font-weight: 400;
      line-height: 56px;
      letter-spacing: 0%;
      text-align: left;
      z-index: 1;
      padding: 100px 100px;
    }

    .about__paragraph {
      position: absolute;
      top: 63%;
      left: 5%;
      display: flex;
      flex-direction: row;
      gap: 17px;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 300px;
    }

    .about__text1 {
      color: rgb(254, 243, 57);
      font-family: 'YS Text', Arial, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;
    }

    .about__text2 {
      color: rgb(255, 255, 255);
      font-family: 'YS Text', Arial, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;
    }

    .about__button {
      position: absolute;
      top: 77%;
      left: 5%;
      width: 282px;
      height: 62px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 13px 40px 13px 40px;
      border-radius: 40px;
      background: rgb(254, 243, 57);
      color: rgb(34, 34, 34);
      font-family: 'YS Text', Arial, sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: left;
    }

    .about__like-button {
      position: absolute;
      top: 77%;
      left: 20.5%;
      width: 62px;
      height: 62px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      background: rgb(254, 243, 57);
    }

    .registry_open {
      position: absolute;
      bottom: 300%;
      left: 1197px;
      width: 187px;
      height: 30px;
      padding: 5px 10px 5px 10px;
      border-radius: 100px;
      background: rgba(34, 34, 34, 0.55);
      color: rgb(255, 255, 255);
      font-family: 'YS Text', Arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
    }
  }
}
