.EventPage {
  background-color: rgb(255, 255, 255);

  .about__section {
    height: 476px;
    background-image: url('../../assets/images/bg-image.svg'),
      linear-gradient(to left, rgba(100, 100, 100, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 80px;
    color: rgb(255, 255, 255);

    .about__paragraph {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .register {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 50px;
    }

    .eclipse {
      padding-right: 5px;
    }
  }

  .paragraph__section {
    padding-top: 80px;
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    padding-left: 40px;

    .chips {
      display: flex;
      gap: 5px;
    }
  }

  .speakers__section {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);

    .cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      gap: 20px;
      padding-top: 10px;

      .card {
        width: 292px;
        height: 352px;
        border-radius: 16px;
        box-shadow:
          0px 2px 8px 0px rgba(0, 20, 51, 0.15),
          0px 0px 1px 0px rgba(0, 20, 51, 0.3);
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 24px 16px 24px 16px;
        row-gap: 10px;
      }
    }
  }

  .program__section {
    display: flex;
    width: 1228px;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 255, 255);

    .details {
      gap: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 604px;
      height: 120px;

      .details__text {
        display: flex;
        flex-direction: column;
      }

      img {
        width: 62px;
        height: 62px;
      }
    }
  }

  .adress__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    background-color: rgb(255, 255, 255);

    .adress__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px;
    }
  }

  .footer__info {
    position: fixed;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 5px 20px 10px 20px;
    margin-bottom: 0;
  }

  .footer__paragraph {
    display: flex;
    flex-direction: row;
  }

  .footer__paragraph2 {
    display: flex;
    flex-direction: column;
  }

  .footer__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 5px;
  }
}
